<footer>
<hr>
	<div class="container">
		<p>
			<a href="https://github.com/bimals/BIMALSAHAY.COM">&hearts; on
				github</a> <a href="#/faq">&hearts; FAQ</a>
		</p>
	</div>
	<div class="container-fluid" id="footer">
		<div class="row-fluid">
<!-- 			<div class="span3">1st Widget</div>
			<div class="span3">2nd Widget</div>
			<div class="span3">3rd Widget</div> -->
			

			<!-- Footer -->
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
						<ul class="list-inline text-center">
							<li><a href="#"> <span class="fa-stack fa-lg"> <i
										class="fa fa-circle fa-stack-2x"></i> <i
										class="fa fa-twitter fa-stack-1x fa-inverse"></i>
								</span>
							</a></li>
							<li><a href="#"> <span class="fa-stack fa-lg"> <i
										class="fa fa-circle fa-stack-2x"></i> <i
										class="fa fa-facebook fa-stack-1x fa-inverse"></i>
								</span>
							</a></li>
							<li><a href="#"> <span class="fa-stack fa-lg"> <i
										class="fa fa-circle fa-stack-2x"></i> <i
										class="fa fa-github fa-stack-1x fa-inverse"></i>
								</span>
							</a></li>
						</ul>
						<p class="copyright text-muted">Copyright &copy; Your Website
							2014</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>