<div ng-controller="CustomDesignController" ng-init="searchDesign(3);isLoggedIn();">
<div class="section">

    <div class="container">
        <div class="row" ng-repeat="design in designs" ng-if="$index % 3 == 0" class="row" infinite-scroll="searchMoreDesigns(3)" infinite-scroll-disabled="busy">
<!--             <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="#/jwel/details">
                    <img class="img-responsive img-home-portfolio" src="/jewelhaat/design/image/{{design.id + '-' + design.designUUID}}">
                </a>
            </div> -->
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="#/jwel/details">
                    <img class="img-responsive img-home-portfolio" src="/jewelhaat/resources/img/image2.jpg">
                    <div class="caption">
						<div class="row">
							<div class="col-md-6 col-xs-6">
								<p>{{designs[$index].designName}}</p>
							</div>
							<div class="col-md-6 col-xs-6">
								<p>$9.99</p>
							</div>
						</div>
					</div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="#/jwel/details">
                    <img class="img-responsive img-home-portfolio" src="/jewelhaat/resources/img/image3.jpg">
                    <div class="caption">
						<div class="row">
							<div class="col-md-6 col-xs-6">
								<p>{{designs[$index + 1].designName}}</p>
							</div>
							<div class="col-md-6 col-xs-6">
								<p>$9.99</p>
							</div>
						</div>
					</div>                    
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="#/jwel/details">
                    <img class="img-responsive img-home-portfolio" src="/jewelhaat/resources/img/image4.jpg">
                    <div class="caption">
						<div class="row">
							<div class="col-md-6 col-xs-6">
								<p>{{designs[$index + 2].designName}}</p>
							</div>
							<div class="col-md-6 col-xs-6">
								<p>$9.99</p>
							</div>
						</div>
					</div>                    
                </a>
            </div>
        </div>
    </div>
    </div>
    </div>