        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Start Bootstrap
                    </a>
                </li>
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="#">Shortcuts</a>
                </li>
                <li>
                    <a href="#">Overview</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
<!-- <h3>BIMALSAHAY.COM</h3>
<h4>Software Engineer</h4>

<p>
	400 E Remington Drive, C125<br> Sunnyvale, CA 94087<br>
</p>

<p>
	<i class="fa fa-phone"></i> <abbr title="Phone">P</abbr>: (415)
	579-8091
</p>

<p>
	<i class="fa fa-envelope-o"></i> <abbr title="Email">E</abbr>: <a
		href="mailto:feedback@startbootstrap.com">feedback@bimalsahay.com</a>
</p>

<p>
	<i class="fa fa-clock-o"></i> <abbr title="Hours">H</abbr>: Monday -
	Friday: 9:00 AM to 5:00 PM
</p>
<ul class="list-unstyled list-inline list-social-icons">
	<li class="tooltip-social facebook-link"><a href="#facebook-page"
		data-toggle="tooltip" data-placement="top" title="Facebook"><i
			class="fa fa-facebook-square fa-2x"></i></a></li>
	<li class="tooltip-social linkedin-link"><a
		href="#linkedin-company-page" data-toggle="tooltip"
		data-placement="top" title="LinkedIn"><i
			class="fa fa-linkedin-square fa-2x"></i></a></li>
	<li class="tooltip-social twitter-link"><a href="#twitter-profile"
		data-toggle="tooltip" data-placement="top" title="Twitter"><i
			class="fa fa-twitter-square fa-2x"></i></a></li>
	<li class="tooltip-social google-plus-link"><a
		href="#google-plus-page" data-toggle="tooltip" data-placement="top"
		title="Google+"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
</ul> -->