<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Login
                <small>Welcome Back</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#/">Home</a></li>
                <li class="active">Login</li>
            </ol>
        </div>

<!--         <div class="col-lg-12">
            Embedded Google Map using an iframe - to select your location find it on Google maps and paste the link as the iframe src. If you want to use the Google Maps API instead then have at it!
            <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                    src="http://maps.google.com/maps?hl=en&amp;ie=UTF8&amp;ll=37.3585254,-122.02900778&amp;spn=56.506174,79.013672&amp;t=m&amp;z=4&amp;output=embed"></iframe>
                   
        </div> -->

    </div>
    <!-- /.row -->
	<div class="row" ng-app="loginApp" role="main">
	    <form class="form-horizontal" ng-controller="loginController" action="/9lakha/j_spring_security_check" method='POST'>
			<div class="control-group">
						<label for="j_username" class="control-label">User Email</label>
							<div class="controls">
								<input type="text" name="j_username" id="j_username" value="" class="input-xlarge" size="30" onkeypress="resetErrorMsg(this)" />
								<div class="error help-inline" id="j_username_error"></div>
								<div id="j_username_valid" style="display:none;"> 
								</div>
							</div>
					</div>
					
					<div class="control-group">
						<label for="j_password" class="control-label">User Password</label>
							<div class="controls">
								<input type="password" name="j_password" id="j_password" value="" class="input-xlarge" size="30" onkeypress="resetErrorMsg(this)">
								<div class="error help-inline" id="j_password_error" name="j_password_error"></div>
							</div>
					</div>
					
					<div class="control-group">
						<div class="controls">
                        <div class="clearfix nmhide mshide">
                            <label class="checkbox inline"> 
                                <input type="checkbox" name="_spring_security_remember_me"> <span>
                                Remember Me
                            </label>
						</div>
                        <input type="submit"  id="submit" value="Login" class="btn btn-primary btn-large margin10-t">                        
						</div>
					</div>
					
	    </form>
	</div>
</div>	