
<div class="strike">
	<span>New Arrivals</span>
</div>
<div id="newones" class="row carousel slide margin"
	data-ride="carousel" data-interval="false">
	<div class="carousel-inner">
		<div class="item active">
			<div class="row">
				<div class="col-xs-2">
					<a href="#/"><img src="http://placehold.it/500x500" alt="Image"
						class="img-responsive"></a>
				</div>
				<div class="col-xs-2">
					<a href="#/"><img src="http://placehold.it/500x500" alt="Image"
						class="img-responsive"></a>
				</div>
				<div class="col-xs-2">
					<a href="#/"><img src="http://placehold.it/500x500" alt="Image"
						class="img-responsive"></a>
				</div>
				<div class="col-xs-2">
					<a href="#/"><img src="http://placehold.it/500x500" alt="Image"
						class="img-responsive"></a>
				</div>
				<div class="col-xs-2">
					<a href="#/"><img src="http://placehold.it/250x250" alt="Image"
						class="img-responsive"></a>
				</div>
				<div class="col-xs-2">
					<a href="#/"><img src="http://placehold.it/250x250" alt="Image"
						class="img-responsive"></a>
				</div>
			</div>
		</div>
		<div class="item">
			<div class="row">
				<div class="col-xs-2">
					<a href="#/"><img src="http://placehold.it/250x250" alt="Image"
						class="img-responsive"></a>
				</div>
				<div class="col-xs-2">
					<a href="#/"><img src="http://placehold.it/250x250" alt="Image"
						class="img-responsive"></a>
				</div>
				<div class="col-xs-2">
					<a href="#/"><img src="http://placehold.it/250x250" alt="Image"
						class="img-responsive"></a>
				</div>
				<div class="col-xs-2">
					<a href="#/"><img src="http://placehold.it/250x250" alt="Image"
						class="img-responsive"></a>
				</div>
				<div class="col-xs-2">
					<a href="#/"><img src="http://placehold.it/250x250" alt="Image"
						class="img-responsive"></a>
				</div>
				<div class="col-xs-2">
					<a href="#/"><img src="http://placehold.it/250x250" alt="Image"
						class="img-responsive"></a>
				</div>
			</div>
		</div>
		<div class="item">
			<div class="row">
				<div class="col-xs-2">
					<a href="#/"><img src="http://placehold.it/250x250" alt="Image"
						class="img-responsive"></a>
				</div>
				<div class="col-xs-2">
					<a href="#/"><img src="http://placehold.it/250x250" alt="Image"
						class="img-responsive"></a>
				</div>
				<div class="col-xs-2">
					<a href="#/"><img src="http://placehold.it/250x250" alt="Image"
						class="img-responsive"></a>
				</div>
				<div class="col-xs-2">
					<a href="#/"><img src="http://placehold.it/250x250" alt="Image"
						class="img-responsive"></a>
				</div>
				<div class="col-xs-2">
					<a href="#/"><img src="http://placehold.it/250x250" alt="Image"
						class="img-responsive"></a>
				</div>
				<div class="col-xs-2">
					<a href="#/"><img src="http://placehold.it/250x250" alt="Image"
						class="img-responsive"></a>
				</div>
			</div>
		</div>
	</div>
	<a class="left carousel-control" href="#newones" data-slide="prev"><span
		class="icon-prev"></span></a> <a class="right carousel-control"
		href="#newones" data-slide="next"><span class="icon-next"></span></a>
</div>